html,body {
	font- family: sans-serif;
}

body {
	background: orange;
}

h1{
	color:black;
	
	
  }
  a img {
	  height: 300px; 
  }
  
  .navbar li {
  display: inline;
  }
  
  .logo {
	  float: left;
	  width: 50px;
  }
 
 #contatti {
	 float: right;
 }